body{
    font-family: 'Xanh Mono', monospace;
    margin: 0px;
}
h1{

    font-size:50px ;
}
.orange-highlight{
    color:gold;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 100%;
}
.top-banner{
    
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat ;
}
section{
    height: 500px;
    padding-bottom: 100px;
}
.link-button{
    text-decoration: none;
    background-color: khaki;
    padding: 10px 20px;
    border-radius: 10px;
    color:azure;
    font-weight: 800 ;
    background-image: linear-gradient(15deg, white,red );
}
.dream-area{
    background-image: url("images/dream-bg.png");
    background-position: right;
}
.single-experience{
    box-shadow: 10px 10px 50px rgb(128, 128, 128) ;
    border-radius: 25px;
    height:80% ;
}
.experience-area{
    background-image: url("images/exp-bg.png");
    background-repeat: no-repeat;
    background-position: bottom;

    
}
#full-stack{
    border-left: 8px solid;
    border-image: linear-gradient(180deg, lightsalmon, tomato) ;
    border-image-slice: 1;
}
#baby-web{
    border-left: 7px solid;
    border-image: linear-gradient(180deg,blue, cyan);
    border-image-slice: 1;

}
footer p{
    text-align: center ;
    font-size: 15px;
}
