body{
    font-family: 'Xanh Mono', monospace;
    margin: 0px;
}
h1{

    font-size:50px ;
}
.name-highlight{
    color:gold;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 100%;
}
.top-banner{
    
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat ;
}
section{
    height: 500px;
}
.link-button{
    text-decoration: none;
    background-color: khaki;
    padding: 10px 20px;
    border-radius: 10px;
    color: orangered;
    font-weight: 800 ;
    background-image: linear-gradient(60deg, white,red );
}